@charset "UTF-8";
html {
  font-size: 16px;
  font-size: 1rem;
}

body {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.485;
  font-family: "M PLUS 1", sans-serif;
  min-width: 320px;
}
body.is-open {
  position: fixed;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 36px;
  font-size: 2.25rem;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*-- foundationフォルダの中の_index.scss --*/
.l-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
@media screen and (min-width: 960px) {
  .l-container {
    grid-template-columns: 1fr 19%;
    grid-template-rows: 217px 1fr 150px;
  }
}

.l-header {
  background-color: #FFF7EF;
  height: 215px;
  position: relative; /* 右上menuをabsolute指定するため*/
}
@media screen and (min-width: 768px) {
  .l-header {
    height: 217px;
  }
}
@media screen and (min-width: 960px) {
  .l-header {
    grid-row: 1;
    grid-column: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.l-header__logo {
  text-align: center;
  margin-top: 43px;
}
@media screen and (min-width: 960px) {
  .l-header__logo {
    margin-left: 65px;
  }
}
.l-header__logo img {
  width: 203px;
  height: 47px;
}
@media screen and (min-width: 960px) {
  .l-header__logo img {
    width: 325px;
    height: 84px;
  }
}

@media screen and (min-width: 960px) {
  .l-main {
    grid-row: 2;
    grid-column: 1;
  }
}

.l-sidebar {
  background-color: #F2EDE9;
}
@media screen and (min-width: 960px) {
  .l-sidebar {
    display: block;
    grid-row: 1/3;
    grid-column: 2;
  }
}

.l-footer {
  background-color: #9D8670;
  color: #ffffff;
  text-align: center;
  height: 150px;
  background-image: url(../img/footer-layer.png);
  background-repeat: repeat;
}
@media screen and (min-width: 960px) {
  .l-footer {
    grid-row: 3;
    grid-column: 1/3;
  }
}
.l-footer .menu {
  display: flex;
  justify-content: center;
  position: relative;
}
.l-footer .menu-item-236 {
  height: 22px;
  padding-right: 15px;
  border-right: 1.5px solid #ffffff;
}
.l-footer .menu-item-198 {
  height: 22px;
  padding-left: 15px;
}
.l-footer .menu-item {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .l-footer .menu-item {
    margin-top: 30px;
  }
}
@media screen and (min-width: 960px) {
  .l-footer .menu-item {
    font-size: 20px;
    font-size: 1.25rem;
    margin-top: 41px;
  }
}
.l-footer__copyright {
  list-style: none;
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 70px;
}
@media screen and (min-width: 768px) {
  .l-footer__copyright {
    margin-top: 44px;
  }
}

/*-- layoutフォルダの中の_index.scss --*/
.c-button {
  border: 1px solid #707070;
  background: linear-gradient(#F2EDE9, #DED8D3);
  border-radius: 10px;
  font-weight: 700;
  color: #707070;
}

.c-title {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 960px) {
  .c-title {
    font-size: 40px;
    font-size: 2.5rem;
  }
}

.c-input {
  border: 1px solid #707070;
  background-color: #ffffff;
  border-radius: 10px 8px 10px 10px;
  padding: 0 45px;
}

.c-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 41px;
  font-size: 2.5625rem;
  color: #ffffff;
  white-space: nowrap;
  position: relative; /* 疑似要素(_)をabsoluteにするため */
}
.c-heading::after {
  content: "";
  display: inline-block;
  background-color: #ffffff;
  width: 33.89px;
  height: 4px;
  position: absolute;
  top: 1.7em;
  left: 0;
}

.c-heading--h2 {
  font-weight: 700;
  font-size: 28px;
  font-size: 1.75rem;
}
@media screen and (min-width: 768px) {
  .c-heading--h2 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}

.c-heading--h3 {
  font-size: 24px;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .c-heading--h3 {
    font-size: 28px;
    font-size: 1.75rem;
  }
}

.c-heading--h4 {
  font-size: 20px;
  font-size: 1.25rem;
}

.c-heading--h5 {
  font-size: 20px;
  font-size: 1.25rem;
}

.c-heading--h6 {
  font-size: 20px;
  font-size: 1.25rem;
}

.c-flex {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  justify-content: flex-end;
}

.c-cover.is-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.502);
  z-index: 50;
}

.c-link {
  color: #707070;
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 20px;
}

.c-inner {
  margin: 0 5%;
}

/*-- componentフォルダの中の_index.scss --*/
.p-card {
  margin-bottom: 21px;
}
@media screen and (min-width: 768px) {
  .p-card {
    display: flex;
  }
}
@media screen and (min-width: 960px) {
  .p-card {
    margin-bottom: 30px;
  }
}
.p-card__img {
  width: 100%;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .p-card__img {
    width: 50%;
  }
}
.p-card__menu {
  background-color: #3C2B1C;
  color: #ffffff;
  padding: 32px 5% 43px 5%;
}
@media screen and (min-width: 768px) {
  .p-card__menu {
    width: 50%;
  }
}
.p-card__menu .c-heading--h2 {
  font-size: 20px;
  font-size: 1.25rem;
}
@media screen and (min-width: 960px) {
  .p-card__menu .c-heading--h2 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
.p-card__menu > h3 {
  font-size: 16px;
  font-size: 1rem;
  margin: 21px 0 7px 0;
}
@media screen and (min-width: 960px) {
  .p-card__menu > h3 {
    font-size: 24px;
    font-size: 1.5rem;
    margin: 44px 0 13px 0;
  }
}
.p-card__menu > p {
  font-weight: 400;
  margin-bottom: 40px;
}
@media screen and (min-width: 960px) {
  .p-card__menu > p {
    margin-bottom: 60px;
  }
}
.p-card__menu .c-link {
  display: flex;
  margin: 0 auto;
  width: 163px;
  height: auto;
}
@media screen and (min-width: 960px) {
  .p-card__menu .c-link {
    width: 292px;
    border-radius: 36px;
  }
}
.p-card__menu .c-link > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 163px;
  height: 42px;
}
@media screen and (min-width: 960px) {
  .p-card__menu .c-link > a {
    width: 292px;
    height: 76px;
  }
}

.p-hamburger {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  color: #707070;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 200;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .p-hamburger {
    font-size: 34px;
    font-size: 2.125rem;
    margin-right: 20px;
  }
}
@media screen and (min-width: 960px) {
  .p-hamburger {
    display: none;
  }
}
.p-hamburger.is-open > span {
  visibility: hidden;
}
.p-hamburger.is-open::before, .p-hamburger.is-open::after {
  display: block;
  content: "";
  width: 45.25px;
  height: 6px;
  background-color: #707070;
  position: absolute;
  top: 12px;
}
@media screen and (min-width: 768px) {
  .p-hamburger.is-open::before, .p-hamburger.is-open::after {
    top: 22px;
    right: 20px;
  }
}
.p-hamburger.is-open::before {
  transform: rotate(-45deg);
}
.p-hamburger.is-open::after {
  transform: rotate(45deg);
}

.p-home-visual {
  position: relative; /* テキストをabsoluteするため */
}
.p-home-visual__bg {
  background-image: url(../img/main-visual-sp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 285px;
}
@media screen and (min-width: 768px) {
  .p-home-visual__bg {
    background-image: url(../img/main-visual-tablet.jpg);
    height: 285px;
  }
}
@media screen and (min-width: 960px) {
  .p-home-visual__bg {
    height: 530px;
  }
}
.p-home-visual__text {
  position: absolute;
  top: 122px;
  left: 25px;
}
@media screen and (min-width: 768px) {
  .p-home-visual__text {
    left: 61px;
  }
}
@media screen and (min-width: 960px) {
  .p-home-visual__text {
    top: 234px;
    left: 86px;
  }
}

.p-pager {
  color: #707070;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 62px 0 30px 0;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 768px) {
  .p-pager {
    justify-content: center;
    margin: 106px 0 32px 0;
  }
}
@media screen and (min-width: 960px) {
  .p-pager {
    margin: 150px 0 64px 0;
  }
}
.p-pager .pages {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-pager .pages {
    display: inline-block;
    margin-right: 19px;
    font-weight: 700;
  }
  .p-pager .pages::before {
    content: "page";
    padding-right: 8px;
  }
}
.p-pager .previouspostslink {
  padding-right: 7.5px;
}
.p-pager .previouspostslink::after {
  content: "前へ";
  padding-left: 8px;
}
@media screen and (min-width: 768px) {
  .p-pager .previouspostslink::after {
    display: none;
  }
}
.p-pager .nextpostslink {
  padding-left: 7.5px;
}
.p-pager .nextpostslink::before {
  content: "次へ";
  padding-right: 8px;
}
@media screen and (min-width: 768px) {
  .p-pager .nextpostslink::before {
    display: none;
  }
}
.p-pager .page, .p-pager .current {
  visibility: hidden;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .p-pager .page, .p-pager .current {
    visibility: visible;
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #707070;
    background-color: #ffffff;
    margin: 0 7.5px;
    text-align: center;
    line-height: 33px;
  }
  .p-pager .page:hover,
.p-pager .page :active, .p-pager .current:hover,
.p-pager .current :active {
    color: #ffffff;
    background-color: #3C2B1C;
  }
}

.p-access {
  background-color: #000000;
  width: 100%;
  margin-top: 49px;
}
@media screen and (min-width: 768px) {
  .p-access {
    margin-top: 0;
  }
}
.p-access__map {
  position: relative; /* iframeとbefore(layer)をabsoluteにするため */
  width: 100%;
  z-index: 1;
  padding-top: 184%; /* 比率を固定 */
}
@media screen and (min-width: 768px) {
  .p-access__map {
    padding-top: 50%;
  }
}
@media screen and (min-width: 960px) {
  .p-access__map {
    padding-top: 42%;
  }
}
.p-access__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 59.71%;
}
.p-access__map::before { /* グレー部分(layer) */
  content: "";
  display: block;
  width: 100%;
  height: 415px;
  background-color: rgba(0, 0, 0, 0.2855);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .p-access__map::before {
    height: 0;
  }
}
@media screen and (min-width: 960px) {
  .p-access__map::before {
    width: 61%;
    height: 100%;
  }
}
.p-access__text {
  position: relative;
  z-index: 5;
  color: #ffffff;
  width: 79%;
  margin: -184% auto 0 auto;
}
@media screen and (min-width: 768px) {
  .p-access__text {
    margin: -50% auto 0 auto;
  }
}
@media screen and (min-width: 960px) {
  .p-access__text {
    width: 45%;
    margin: -42% 8% 0 8%;
  }
}
.p-access__text .c-heading {
  font-size: 30px;
  font-size: 1.875rem;
  font-family: "M PLUS 1", sans-serif;
  margin-top: 42px;
}
.p-access__text .c-heading::after {
  width: 75px;
  height: 2px;
}
@media screen and (min-width: 960px) {
  .p-access__text .c-heading {
    font-size: 36px;
    font-size: 2.25rem;
  }
  .p-access__text .c-heading::after {
    position: absolute;
    top: 2.9em;
  }
}
.p-access__text p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.4;
  margin-top: 29px;
}
@media screen and (min-width: 768px) {
  .p-access__text p {
    padding-bottom: 29px;
  }
}
@media screen and (min-width: 960px) {
  .p-access__text p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 2.1;
    margin-top: 109px;
  }
}

.p-search {
  text-align: center;
  margin-top: 40px;
  height: auto;
}
@media screen and (min-width: 960px) {
  .p-search {
    width: 100%;
    text-align: right;
    margin-right: 31px;
  }
}
.p-search__text {
  height: auto;
  background-image: url(../img/mushimegane.svg);
  background-position: 12px;
  font-weight: 700;
}
.p-search__text.c-input {
  width: 58%;
  height: 46px;
}
@media screen and (min-width: 960px) {
  .p-search__text.c-input {
    width: 34%;
  }
}
.p-search__button.c-button {
  width: 24%;
  height: 46px;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .p-search__button.c-button {
    width: 16%;
    margin-left: 14px;
  }
}
@media screen and (min-width: 960px) {
  .p-search__button.c-button {
    width: 12%;
  }
}

.p-panel {
  position: relative; /* heading部分をabsoluteにするため */
  width: 100%;
}
.p-panel .c-flex {
  width: 100%;
  padding-bottom: 16px;
}
.p-panel__bg--left, .p-panel__bg--right {
  background-image: url(../img/TakeOut.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 54%;
  min-height: 642px;
  margin: 20px 5%;
}
@media screen and (min-width: 768px) {
  .p-panel__bg--left, .p-panel__bg--right {
    margin: 0;
    height: 100%;
  }
}
@media screen and (min-width: 960px) {
  .p-panel__bg--left, .p-panel__bg--right {
    padding-top: 134%;
  }
}
.p-panel__bg--right {
  background-image: url(../img/EatIn.jpg);
}
.p-panel__heading {
  position: absolute;
  top: 13px;
  left: 35px;
}
@media screen and (min-width: 768px) {
  .p-panel__heading {
    left: 11px;
  }
}
@media screen and (min-width: 960px) {
  .p-panel__heading .c-heading {
    font-size: 80px;
    font-size: 5rem;
  }
  .p-panel__heading .c-heading::after {
    width: 63px;
  }
}
.p-panel__text {
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 16px;
}
.p-panel__text-heading {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.p-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  overflow-y: scroll; /* メニュー内容が多い場合に縦スクロールする */
  z-index: 100;
  transition: ease-out 0.3s;
  color: #707070;
}
@media screen and (min-width: 960px) {
  .p-sidebar {
    position: static;
    width: 100%;
    overflow-y: visible;
  }
}
.p-sidebar.is-open {
  width: 87%;
}
@media screen and (min-width: 768px) {
  .p-sidebar.is-open {
    width: 44%;
  }
}
.p-sidebar__heading {
  display: none;
}
@media screen and (min-width: 960px) {
  .p-sidebar__heading {
    display: block;
    font-weight: "Roboto", sans-serif;
    font-size: 34px;
    font-size: 2.125rem;
    margin: 84px 0 0 46px;
  }
}
.p-sidebar .menu-categorymenu-container {
  margin: 178px 0 0 46px;
}
@media screen and (min-width: 960px) {
  .p-sidebar .menu-categorymenu-container {
    margin: 130px 0 0 46px;
  }
}
.p-sidebar .menu-item-type-taxonomy > a {
  font-weight: 700;
  display: inline-block;
  margin: 60px 0 40px 0;
  font-size: 24px;
  font-size: 1.5rem;
}
.p-sidebar .sub-menu > li {
  margin: 20px;
  font-size: 20px;
  font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
  .p-panel-container {
    margin: 40px 5%;
  }
}
@media screen and (min-width: 768px) and (min-width: 960px) {
  .p-panel-container {
    margin: 120px 7%;
  }
}
@media screen and (min-width: 768px) {
  .p-panel-container__module {
    display: flex;
    gap: 40px;
  }
}
@media screen and (min-width: 768px) and (min-width: 960px) {
  .p-panel-container__module {
    gap: 80px;
  }
}

.p-archive-visual {
  background-image: url(../img/archive-visual-sp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 285px;
  position: relative; /* before、タイトルをabsolute */
  margin-bottom: 32px;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 768px) {
  .p-archive-visual {
    background-image: url(../img/archive-visual-tablet.jpg);
  }
  .p-archive-visual .c-title {
    font-size: 60px;
    font-size: 3.75rem;
  }
}
@media screen and (min-width: 960px) {
  .p-archive-visual {
    background-image: url(../img/archive-visual-pc.jpg);
  }
}
.p-archive-visual::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.p-archive-visual__text {
  position: absolute;
  top: 106px;
  left: 37px;
}
@media screen and (min-width: 768px) {
  .p-archive-visual__text {
    top: 106px;
    left: 86px;
  }
}
@media screen and (min-width: 960px) {
  .p-archive-visual__text {
    top: 83px;
  }
}
.p-archive-visual__ja {
  font-size: 16px;
  font-size: 1rem;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  top: 160px;
  left: 37px;
}
@media screen and (min-width: 768px) {
  .p-archive-visual__ja {
    top: 145px;
    left: 275px;
  }
}
@media screen and (min-width: 960px) {
  .p-archive-visual__ja {
    top: 125px;
  }
}

@media screen and (min-width: 768px) {
  .search .p-archive-visual__ja {
    left: 295px;
  }
}

.p-menu__text {
  line-height: 1.5;
  margin: 25px 0 19px 0;
}
@media screen and (min-width: 768px) {
  .p-menu__text {
    margin: 20px 0 37px 0;
  }
}
@media screen and (min-width: 960px) {
  .p-menu__text {
    margin: 20px 0 70px 0;
  }
}
.p-menu p:last-child {
  font-weight: 700;
  text-decoration: underline;
}

.p-single-visual {
  background-image: url(../img/single-visual-sp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 229px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .p-single-visual {
    background-image: url(../img/single-visual-tablet.jpg);
    height: 508px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 960px) {
  .p-single-visual {
    background-image: url(../img/single-visual-pc.jpg);
  }
}
.p-single-visual__text {
  padding: 93px 0 0 26px;
}
@media screen and (min-width: 768px) {
  .p-single-visual__text {
    font-size: 60px;
    font-size: 3.75rem;
    padding: 213px 0 0 86px;
  }
}

.p-single {
  color: #3C2A10;
}
@media screen and (min-width: 768px) {
  .p-single > .c-inner {
    margin: 0 7%;
  }
}
@media screen and (min-width: 960px) {
  .p-single > .c-inner {
    margin: 0 6.4%;
  }
}
.p-single p {
  margin: 25px 0 36px 0;
}
@media screen and (min-width: 768px) {
  .p-single p {
    margin: 55px 0 62px 0;
  }
}
@media screen and (min-width: 960px) {
  .p-single p {
    margin: 57px 0 60px 0;
  }
}
.p-single h2 {
  font-size: 28px;
  font-size: 1.75rem;
}
@media screen and (min-width: 768px) {
  .p-single h2 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
.p-single h3 {
  font-size: 24px;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .p-single h3 {
    font-size: 28px;
    font-size: 1.75rem;
  }
}
.p-single h4 {
  font-size: 20px;
  font-size: 1.25rem;
  margin: 28px 0 34px 0;
}
@media screen and (min-width: 768px) {
  .p-single h4 {
    margin: 56px 0 73px 0;
  }
}
@media screen and (min-width: 960px) {
  .p-single h4 {
    margin: 56px 0 57px 0;
  }
}
.p-single h5 {
  font-size: 20px;
  font-size: 1.25rem;
}
.p-single h6 {
  font-size: 20px;
  font-size: 1.25rem;
  margin: 27px 0 26px 0;
}
@media screen and (min-width: 768px) {
  .p-single h6 {
    margin: 57px 0 56px 0;
  }
}
.p-single .wp-block-quote {
  background-color: #F5F5F5;
  padding: 4.8% 7%;
}
.p-single .wp-block-quote > p {
  margin: 0;
  padding-bottom: 7%;
}
.p-single .wp-block-quote > cite > a {
  text-decoration: underline;
  color: #0000EE;
}
.p-single .wp-block-image, .p-single .wp-block-media-text, .p-single .wp-block-gallery, .p-single .wp-block-code, .p-single .wp-block-table {
  margin: 30px 0;
}
@media screen and (min-width: 768px) {
  .p-single .wp-block-image, .p-single .wp-block-media-text, .p-single .wp-block-gallery, .p-single .wp-block-code, .p-single .wp-block-table {
    margin: 60px 0;
  }
}
.p-single .wp-block-image > img, .p-single .wp-block-media-text > img, .p-single .wp-block-gallery > img, .p-single .wp-block-code > img, .p-single .wp-block-table > img {
  width: 100%;
}
.p-single .wp-block-media-text {
  gap: 9px;
}
@media screen and (min-width: 768px) {
  .p-single .wp-block-media-text {
    gap: 21px;
  }
}
@media screen and (min-width: 960px) {
  .p-single .wp-block-media-text {
    gap: 40px;
  }
}
.p-single .wp-block-media-text__content {
  padding: 0;
}
.p-single .wp-block-media-text__content > p {
  margin: 0;
}
.p-single .wp-block-image {
  text-align: center;
}
.p-single .wp-block-image .wp-image-95 {
  width: 80%;
}
.p-single .wp-block-gallery.wp-block-gallery-1 {
  display: block;
}
@media screen and (min-width: 768px) {
  .p-single .wp-block-gallery.wp-block-gallery-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 0 13px;
  }
}
@media screen and (min-width: 960px) {
  .p-single .wp-block-gallery.wp-block-gallery-1 {
    gap: 20px;
  }
}
.p-single .wp-block-gallery.wp-block-gallery-1 > figure.wp-block-image:not(#individual-image) {
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .p-single .wp-block-gallery.wp-block-gallery-1 > figure.wp-block-image:not(#individual-image) {
    width: 49%;
  }
}
@media screen and (min-width: 960px) {
  .p-single .wp-block-gallery.wp-block-gallery-1 > figure.wp-block-image:not(#individual-image) {
    width: 31%;
    margin-bottom: 0;
  }
}
.p-single ul, .p-single ol {
  margin: 17px 0;
}
.p-single ul ul, .p-single ul ol, .p-single ol ul, .p-single ol ol {
  margin-left: 18px;
}
.p-single ol {
  padding: 0 5%;
}
@media screen and (min-width: 768px) {
  .p-single ol {
    padding: 0;
  }
}
.p-single .wp-block-code {
  background-color: #F5F5F5;
}
.p-single .wp-block-code > code {
  display: inline-block;
  padding: 50px;
  font-family: "M PLUS 1", sans-serif;
}
.p-single .wp-block-table tbody {
  border-collapse: collapse;
  width: 100%;
}
.p-single .wp-block-table tbody tr {
  height: 77px;
}
.p-single .wp-block-table tbody tr td:first-child {
  width: 40%;
}
@media screen and (min-width: 768px) {
  .p-single .wp-block-table tbody tr td:first-child {
    width: 30%;
  }
}
.p-single .wp-block-table tbody td {
  border: 1px solid #707070;
  padding-left: 30px;
}
.p-single .wp-block-buttons {
  margin: 60px 0 0 0;
}
.p-single .wp-block-buttons .wp-block-button {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-single .wp-block-buttons .wp-block-button {
    text-align: left;
  }
}
.p-single .wp-block-buttons .wp-block-button__link {
  border: 1px solid #707070;
  background: linear-gradient(#F2EDE9, #DED8D3);
  border-radius: 20px;
  font-weight: 700;
  color: #3C2A10;
  width: 100%;
  height: 81px;
  padding: 30px 0;
}
@media screen and (min-width: 768px) {
  .p-single .wp-block-buttons .wp-block-button__link {
    width: 60%;
    height: 104px;
    padding: 40px 0;
  }
}
@media screen and (min-width: 960px) {
  .p-single .wp-block-buttons .wp-block-button__link {
    width: 32%;
  }
}
.p-single p strong {
  display: inline-block;
  margin: 6px 0 33px 0;
}
@media screen and (min-width: 768px) {
  .p-single p strong {
    margin: 6px 0 87px 0;
  }
}
@media screen and (min-width: 960px) {
  .p-single p strong {
    margin: 4px 0 214px 0;
  }
}
.p-single .attachment-post-thumbnail {
  display: none;
}

.p-page-visual {
  background-image: url(../img/page-visual-sp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 229px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .p-page-visual {
    background-image: url(../img/page-visual-tablet.jpg);
    height: 508px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 960px) {
  .p-page-visual {
    background-image: url(../img/page-visual-pc.jpg);
  }
}
.p-page-visual__text {
  padding: 93px 0 0 26px;
}
@media screen and (min-width: 768px) {
  .p-page-visual__text {
    font-size: 60px;
    font-size: 3.75rem;
    padding: 213px 0 0 86px;
  }
}

.p-page {
  color: #3C2A10;
}
@media screen and (min-width: 768px) {
  .p-page > .c-inner {
    margin: 0 7%;
  }
}
@media screen and (min-width: 960px) {
  .p-page > .c-inner {
    margin: 0 6.4%;
  }
}
.p-page p {
  margin: 25px 0 36px 0;
}
@media screen and (min-width: 768px) {
  .p-page p {
    margin: 55px 0 62px 0;
  }
}
@media screen and (min-width: 960px) {
  .p-page p {
    margin: 57px 0 60px 0;
  }
}
.p-page h2 {
  font-size: 28px;
  font-size: 1.75rem;
}
@media screen and (min-width: 768px) {
  .p-page h2 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
.p-page h3 {
  font-size: 24px;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .p-page h3 {
    font-size: 28px;
    font-size: 1.75rem;
  }
}
.p-page h4 {
  font-size: 20px;
  font-size: 1.25rem;
  margin: 28px 0 34px 0;
}
@media screen and (min-width: 768px) {
  .p-page h4 {
    margin: 56px 0 73px 0;
  }
}
@media screen and (min-width: 960px) {
  .p-page h4 {
    margin: 56px 0 57px 0;
  }
}
.p-page h5 {
  font-size: 20px;
  font-size: 1.25rem;
}
.p-page h6 {
  font-size: 20px;
  font-size: 1.25rem;
  margin: 27px 0 26px 0;
}
@media screen and (min-width: 768px) {
  .p-page h6 {
    margin: 57px 0 56px 0;
  }
}
.p-page .wp-block-quote {
  background-color: #F5F5F5;
  padding: 4.8% 7%;
}
.p-page .wp-block-quote > p {
  margin: 0;
  padding-bottom: 7%;
}
.p-page .wp-block-quote > cite > a {
  text-decoration: underline;
  color: #0000EE;
}
.p-page .wp-block-image, .p-page .wp-block-media-text, .p-page .wp-block-gallery, .p-page .wp-block-code, .p-page .wp-block-table {
  margin: 30px 0;
}
@media screen and (min-width: 768px) {
  .p-page .wp-block-image, .p-page .wp-block-media-text, .p-page .wp-block-gallery, .p-page .wp-block-code, .p-page .wp-block-table {
    margin: 60px 0;
  }
}
.p-page .wp-block-image > img, .p-page .wp-block-media-text > img, .p-page .wp-block-gallery > img, .p-page .wp-block-code > img, .p-page .wp-block-table > img {
  width: 100%;
}
.p-page .wp-block-media-text {
  gap: 9px;
}
@media screen and (min-width: 768px) {
  .p-page .wp-block-media-text {
    gap: 21px;
  }
}
@media screen and (min-width: 960px) {
  .p-page .wp-block-media-text {
    gap: 40px;
  }
}
.p-page .wp-block-media-text__content {
  padding: 0;
}
.p-page .wp-block-media-text__content > p {
  margin: 0;
}
.p-page .wp-block-image {
  text-align: center;
}
.p-page .wp-block-image .wp-image-95 {
  width: 80%;
}
.p-page .wp-block-gallery.wp-block-gallery-1 {
  display: block;
}
@media screen and (min-width: 768px) {
  .p-page .wp-block-gallery.wp-block-gallery-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 0 13px;
  }
}
@media screen and (min-width: 960px) {
  .p-page .wp-block-gallery.wp-block-gallery-1 {
    gap: 20px;
  }
}
.p-page .wp-block-gallery.wp-block-gallery-1 > figure.wp-block-image:not(#individual-image) {
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .p-page .wp-block-gallery.wp-block-gallery-1 > figure.wp-block-image:not(#individual-image) {
    width: 49%;
  }
}
@media screen and (min-width: 960px) {
  .p-page .wp-block-gallery.wp-block-gallery-1 > figure.wp-block-image:not(#individual-image) {
    width: 31%;
    margin-bottom: 0;
  }
}
.p-page ul, .p-page ol {
  margin: 17px 0;
}
.p-page ul ul, .p-page ul ol, .p-page ol ul, .p-page ol ol {
  margin-left: 18px;
}
.p-page ol {
  padding: 0 5%;
}
@media screen and (min-width: 768px) {
  .p-page ol {
    padding: 0;
  }
}
.p-page .wp-block-code {
  background-color: #F5F5F5;
}
.p-page .wp-block-code > code {
  display: inline-block;
  padding: 50px;
  font-family: "M PLUS 1", sans-serif;
}
.p-page .wp-block-table tbody {
  border-collapse: collapse;
  width: 100%;
}
.p-page .wp-block-table tbody tr {
  height: 77px;
}
.p-page .wp-block-table tbody tr td:first-child {
  width: 40%;
}
@media screen and (min-width: 768px) {
  .p-page .wp-block-table tbody tr td:first-child {
    width: 30%;
  }
}
.p-page .wp-block-table tbody td {
  border: 1px solid #707070;
  padding-left: 30px;
}
.p-page .wp-block-buttons {
  margin: 60px 0 0 0;
}
.p-page .wp-block-buttons .wp-block-button {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-page .wp-block-buttons .wp-block-button {
    text-align: left;
  }
}
.p-page .wp-block-buttons .wp-block-button__link {
  border: 1px solid #707070;
  background: linear-gradient(#F2EDE9, #DED8D3);
  border-radius: 20px;
  font-weight: 700;
  color: #3C2A10;
  width: 100%;
  height: 81px;
  padding: 30px 0;
}
@media screen and (min-width: 768px) {
  .p-page .wp-block-buttons .wp-block-button__link {
    width: 60%;
    height: 104px;
    padding: 40px 0;
  }
}
@media screen and (min-width: 960px) {
  .p-page .wp-block-buttons .wp-block-button__link {
    width: 32%;
  }
}
.p-page p strong {
  display: inline-block;
  margin: 6px 0 33px 0;
}
@media screen and (min-width: 768px) {
  .p-page p strong {
    margin: 6px 0 87px 0;
  }
}
@media screen and (min-width: 960px) {
  .p-page p strong {
    margin: 4px 0 214px 0;
  }
}

.error404 .l-main {
  text-align: center;
}
.error404 .l-main h1 {
  margin: 20px 0;
  font-size: 30px;
  font-size: 1.875rem;
}
.error404 .l-main > p {
  margin: 20px 0;
}
.error404 .l-main > p > a {
  font-weight: 700;
  text-decoration: underline;
}
.error404 .l-main > p > a:hover {
  color: #707070;
}

/*-- projectフォルダの中の_index.scss --*/
.u-bold {
  font-weight: 700;
}

.u-brown {
  color: #3C2A10;
}

.u-reverse {
  flex-direction: row-reverse;
}

/*-- utilityフォルダの中の_index.scss --*/
/*# sourceMappingURL=style.css.map */