@charset "UTF-8";
html {
  font-size: 16px;
  font-size: 1rem;
}

body {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.485;
  font-family: "M PLUS 1", sans-serif;
  min-width: 320px;
}
body.is-open {
  position: fixed;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 36px;
  font-size: 2.25rem;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*-- foundationフォルダの中の_index.scss --*/
.l-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
@media screen and (min-width: 960px) {
  .l-container {
    grid-template-columns: 1fr 19%;
    grid-template-rows: 217px 1fr 150px;
  }
}

.l-header {
  background-color: #FFF7EF;
  height: 215px;
  position: relative; /* 右上menuをabsolute指定するため*/
}
@media screen and (min-width: 768px) {
  .l-header {
    height: 217px;
  }
}
@media screen and (min-width: 960px) {
  .l-header {
    grid-row: 1;
    grid-column: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.l-header__logo {
  text-align: center;
  margin-top: 43px;
}
@media screen and (min-width: 960px) {
  .l-header__logo {
    margin-left: 65px;
  }
}
.l-header__logo img {
  width: 203px;
  height: 47px;
}
@media screen and (min-width: 960px) {
  .l-header__logo img {
    width: 325px;
    height: 84px;
  }
}

@media screen and (min-width: 960px) {
  .l-main {
    grid-row: 2;
    grid-column: 1;
  }
}

.l-sidebar {
  background-color: #F2EDE9;
}
@media screen and (min-width: 960px) {
  .l-sidebar {
    display: block;
    grid-row: 1/3;
    grid-column: 2;
  }
}

.l-footer {
  background-color: #9D8670;
  color: #ffffff;
  text-align: center;
  height: 150px;
  background-image: url(../../img/footer-layer.png);
  background-repeat: repeat;
}
@media screen and (min-width: 960px) {
  .l-footer {
    grid-row: 3;
    grid-column: 1/3;
  }
}
.l-footer__list {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .l-footer__list {
    margin-top: 30px;
  }
}
@media screen and (min-width: 960px) {
  .l-footer__list {
    font-size: 20px;
    font-size: 1.25rem;
    margin-top: 41px;
  }
}
.l-footer__copyright {
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 70px;
}
@media screen and (min-width: 768px) {
  .l-footer__copyright {
    margin-top: 44px;
  }
}

/*-- layoutフォルダの中の_index.scss --*/
.c-button, .c-button--single {
  border: 1px solid #707070;
  background: linear-gradient(#F2EDE9, #DED8D3);
  border-radius: 10px;
  font-weight: 700;
  color: #707070;
}

.c-button--single {
  border-radius: 20px;
  color: #3C2A10;
}

.c-title, .c-title--archive {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 960px) {
  .c-title, .c-title--archive {
    font-size: 40px;
    font-size: 2.5rem;
  }
}

.c-title--archive {
  font-family: "Roboto", sans-serif;
}
.c-title--archive::after {
  content: "チーズバーガー";
  color: #ffffff;
  font-family: "M PLUS 1", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  width: 100%;
  white-space: nowrap;
  display: block;
}
@media screen and (min-width: 768px) {
  .c-title--archive::after {
    display: inline;
    vertical-align: middle;
    padding-left: 19px;
  }
}

.c-input {
  border: 1px solid #707070;
  background-color: #ffffff;
  border-radius: 10px 8px 10px 10px;
  padding: 0 45px;
}

.c-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 41px;
  font-size: 2.5625rem;
  color: #ffffff;
  position: relative; /* 疑似要素(_)をabsoluteにするため */
}
.c-heading::after {
  content: "";
  display: inline-block;
  background-color: #ffffff;
  width: 33.89px;
  height: 4px;
  position: absolute;
  top: 1.7em;
  left: 0;
}

.c-heading--h2 {
  font-weight: 700;
  font-size: 28px;
  font-size: 1.75rem;
}
@media screen and (min-width: 768px) {
  .c-heading--h2 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}

.c-heading--h3 {
  font-size: 24px;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .c-heading--h3 {
    font-size: 28px;
    font-size: 1.75rem;
  }
}

.c-heading--h4 {
  font-size: 20px;
  font-size: 1.25rem;
}

.c-heading--h5 {
  font-size: 20px;
  font-size: 1.25rem;
}

.c-heading--h6 {
  font-size: 20px;
  font-size: 1.25rem;
}

.c-flex {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  justify-content: flex-end;
}

.c-flex--row {
  display: flex;
  gap: 9px;
}
@media screen and (min-width: 768px) {
  .c-flex--row {
    gap: 21px;
  }
}
@media screen and (min-width: 960px) {
  .c-flex--row {
    gap: 40px;
  }
}

@media screen and (min-width: 768px) {
  .c-flex--wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 0 13px;
  }
}
@media screen and (min-width: 960px) {
  .c-flex--wrap {
    gap: 20px;
  }
}

.c-cover.is-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.502);
  z-index: 50;
}

.c-link {
  color: #707070;
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 20px;
}

.c-inner {
  margin: 0 5%;
}

.c-table {
  border-collapse: collapse;
  width: 100%;
}
.c-table tr {
  height: 77px;
}
.c-table td {
  border: 1px solid #707070;
  padding-left: 30px;
}

/*-- componentフォルダの中の_index.scss --*/
.p-card {
  margin-bottom: 21px;
}
@media screen and (min-width: 768px) {
  .p-card {
    display: flex;
  }
}
@media screen and (min-width: 960px) {
  .p-card {
    margin-bottom: 30px;
  }
}
.p-card__img {
  width: 100%;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .p-card__img {
    width: 50%;
  }
}
.p-card__menu {
  background-color: #3C2B1C;
  color: #ffffff;
  padding: 32px 5% 43px 5%;
}
@media screen and (min-width: 768px) {
  .p-card__menu {
    width: 50%;
  }
}
.p-card__menu .c-heading--h2 {
  font-size: 20px;
  font-size: 1.25rem;
}
@media screen and (min-width: 960px) {
  .p-card__menu .c-heading--h2 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
.p-card__menu > h3 {
  font-size: 16px;
  font-size: 1rem;
  margin: 21px 0 7px 0;
}
@media screen and (min-width: 960px) {
  .p-card__menu > h3 {
    font-size: 24px;
    font-size: 1.5rem;
    margin: 44px 0 13px 0;
  }
}
.p-card__menu > p {
  font-weight: 400;
  margin-bottom: 40px;
}
@media screen and (min-width: 960px) {
  .p-card__menu > p {
    margin-bottom: 60px;
  }
}
.p-card__menu .c-link {
  width: 163px;
  height: 42px;
  text-align: center;
  padding: 8px 0;
  margin: 0 auto;
}
@media screen and (min-width: 960px) {
  .p-card__menu .c-link {
    width: 292px;
    height: 76px;
    padding: 24px 0;
    border-radius: 36px;
  }
}

.p-hamburger {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  color: #707070;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 200;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .p-hamburger {
    font-size: 34px;
    font-size: 2.125rem;
    margin-right: 20px;
  }
}
@media screen and (min-width: 960px) {
  .p-hamburger {
    display: none;
  }
}
.p-hamburger.is-open > span {
  visibility: hidden;
}
.p-hamburger.is-open::before, .p-hamburger.is-open::after {
  display: block;
  content: "";
  width: 45.25px;
  height: 6px;
  background-color: #707070;
  position: absolute;
  top: 12px;
}
@media screen and (min-width: 768px) {
  .p-hamburger.is-open::before, .p-hamburger.is-open::after {
    top: 22px;
    right: 20px;
  }
}
.p-hamburger.is-open::before {
  transform: rotate(-45deg);
}
.p-hamburger.is-open::after {
  transform: rotate(45deg);
}

.p-home-visual {
  position: relative; /* テキストをabsoluteするため */
}
.p-home-visual__bg {
  background-image: url(../../img/main-visual-sp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 285px;
}
@media screen and (min-width: 768px) {
  .p-home-visual__bg {
    background-image: url(../../img/main-visual-tablet.jpg);
    height: 285px;
  }
}
@media screen and (min-width: 960px) {
  .p-home-visual__bg {
    height: 530px;
  }
}
.p-home-visual__text {
  position: absolute;
  top: 122px;
  left: 25px;
}
@media screen and (min-width: 768px) {
  .p-home-visual__text {
    left: 61px;
  }
}
@media screen and (min-width: 960px) {
  .p-home-visual__text {
    top: 234px;
    left: 86px;
  }
}

.p-pager {
  color: #707070;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 63px 0 29px 0;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 768px) {
  .p-pager {
    justify-content: center;
    margin: 106px 0 32px 0;
  }
}
@media screen and (min-width: 960px) {
  .p-pager {
    margin: 150px 0 64px 0;
  }
}
.p-pager > span {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-pager > span {
    display: inline-block;
    margin-right: 19px;
  }
}
.p-pager__arrow {
  width: 17px;
}
.p-pager__prev, .p-pager__next {
  position: relative;
  left: -30px;
  top: -2px;
}
@media screen and (min-width: 768px) {
  .p-pager__prev, .p-pager__next {
    display: none;
  }
}
.p-pager__next {
  left: 30px;
}
@media screen and (min-width: 768px) {
  .p-pager__next {
    display: none;
  }
}
.p-pager__item {
  display: flex;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .p-pager__item {
    visibility: visible;
  }
}
@media screen and (min-width: 768px) {
  .p-pager__link {
    border: 1px solid #707070;
    background-color: #ffffff;
    margin: 0 7.5px;
    text-align: center;
    line-height: 33px;
  }
  .p-pager__link:first-child {
    margin-left: 15px;
  }
  .p-pager__link:last-child {
    margin-right: 15px;
  }
  .p-pager__link > a {
    display: inline-block;
    width: 35px;
    height: 35px;
  }
  .p-pager__link:hover,
.p-pager__link :active {
    color: #ffffff;
    background-color: #3C2B1C;
  }
}

.p-access {
  background-color: #000000;
  width: 100%;
  margin-top: 49px;
}
@media screen and (min-width: 768px) {
  .p-access {
    margin-top: 0;
  }
}
.p-access__map {
  position: relative; /* iframeとbefore(layer)をabsoluteにするため */
  width: 100%;
  z-index: 1;
  padding-top: 184%; /* 比率を固定 */
}
@media screen and (min-width: 768px) {
  .p-access__map {
    padding-top: 50%;
  }
}
@media screen and (min-width: 960px) {
  .p-access__map {
    padding-top: 42%;
  }
}
.p-access__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 59.71%;
}
.p-access__map::before { /* グレー部分(layer) */
  content: "";
  display: block;
  width: 100%;
  height: 415px;
  background-color: rgba(0, 0, 0, 0.2855);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .p-access__map::before {
    height: 0;
  }
}
@media screen and (min-width: 960px) {
  .p-access__map::before {
    width: 61%;
    height: 100%;
  }
}
.p-access__text {
  position: relative;
  z-index: 5;
  color: #ffffff;
  width: 79%;
  margin: -184% auto 0 auto;
}
@media screen and (min-width: 768px) {
  .p-access__text {
    margin: -50% auto 0 auto;
  }
}
@media screen and (min-width: 960px) {
  .p-access__text {
    width: 45%;
    margin: -42% 8% 0 8%;
  }
}
.p-access__text .c-heading {
  font-size: 30px;
  font-size: 1.875rem;
  font-family: "M PLUS 1", sans-serif;
  margin-top: 42px;
}
.p-access__text .c-heading::after {
  width: 75px;
  height: 2px;
}
@media screen and (min-width: 960px) {
  .p-access__text .c-heading {
    font-size: 36px;
    font-size: 2.25rem;
  }
  .p-access__text .c-heading::after {
    position: absolute;
    top: 2.9em;
  }
}
.p-access__text p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.4;
  margin-top: 29px;
}
@media screen and (min-width: 768px) {
  .p-access__text p {
    padding-bottom: 29px;
  }
}
@media screen and (min-width: 960px) {
  .p-access__text p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 2.1;
    margin-top: 109px;
  }
}

.p-search {
  text-align: center;
  margin-top: 40px;
  height: auto;
}
@media screen and (min-width: 960px) {
  .p-search {
    width: 100%;
    text-align: right;
    margin-right: 31px;
  }
}
.p-search__text {
  height: auto;
  background-image: url(../../img/mushimegane.svg);
  background-position: 12px;
}
.p-search__text.c-input {
  width: 58%;
  height: 46px;
}
@media screen and (min-width: 960px) {
  .p-search__text.c-input {
    width: 34%;
  }
}
.p-search__button.c-button {
  width: 24%;
  height: 46px;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .p-search__button.c-button {
    width: 16%;
    margin-left: 14px;
  }
}
@media screen and (min-width: 960px) {
  .p-search__button.c-button {
    width: 12%;
  }
}

.p-panel {
  position: relative; /* heading部分をabsoluteにするため */
  width: 100%;
}
.p-panel .c-flex {
  width: 100%;
  padding-bottom: 16px;
}
.p-panel__bg--left, .p-panel__bg--right {
  background-image: url(../../img/TakeOut.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 54%;
  min-height: 642px;
  margin: 20px 5%;
}
@media screen and (min-width: 768px) {
  .p-panel__bg--left, .p-panel__bg--right {
    margin: 0;
    height: 100%;
  }
}
@media screen and (min-width: 960px) {
  .p-panel__bg--left, .p-panel__bg--right {
    padding-top: 134%;
  }
}
.p-panel__bg--right {
  background-image: url(../../img/EatIn.jpg);
}
.p-panel__heading {
  position: absolute;
  top: 13px;
  left: 35px;
}
@media screen and (min-width: 768px) {
  .p-panel__heading {
    left: 11px;
  }
}
@media screen and (min-width: 960px) {
  .p-panel__heading .c-heading {
    font-size: 80px;
    font-size: 5rem;
  }
  .p-panel__heading .c-heading::after {
    width: 63px;
  }
}
.p-panel__text {
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 16px;
}
.p-panel__text-heading {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.p-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  overflow-y: scroll; /* メニュー内容が多い場合に縦スクロールする */
  z-index: 100;
  transition: ease-out 0.3s;
  color: #707070;
}
@media screen and (min-width: 960px) {
  .p-sidebar {
    position: static;
    width: 100%;
    overflow-y: visible;
  }
}
.p-sidebar.is-open {
  width: 87%;
}
@media screen and (min-width: 768px) {
  .p-sidebar.is-open {
    width: 44%;
  }
}
.p-sidebar__heading {
  display: none;
}
@media screen and (min-width: 960px) {
  .p-sidebar__heading {
    display: block;
    font-weight: "Roboto", sans-serif;
    font-size: 34px;
    font-size: 2.125rem;
    margin: 84px 0 0 46px;
  }
}
.p-sidebar__block {
  margin: 178px 0 0 46px;
}
@media screen and (min-width: 960px) {
  .p-sidebar__block {
    margin: 130px 0 0 46px;
  }
}
.p-sidebar__menu > h3 {
  margin: 60px 0 40px 0;
  font-size: 24px;
  font-size: 1.5rem;
}
.p-sidebar__item {
  margin: 20px;
  font-size: 20px;
  font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
  .p-panel-container {
    margin: 40px 5%;
  }
}
@media screen and (min-width: 768px) and (min-width: 960px) {
  .p-panel-container {
    margin: 120px 7%;
  }
}
@media screen and (min-width: 768px) {
  .p-panel-container__module {
    display: flex;
    gap: 40px;
  }
}
@media screen and (min-width: 768px) and (min-width: 960px) {
  .p-panel-container__module {
    gap: 80px;
  }
}

.p-archive-visual {
  background-image: url(../../img/archive-visual-sp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 285px;
  position: relative; /* before、タイトルをabsolute */
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .p-archive-visual {
    background-image: url(../../img/archive-visual-tablet.jpg);
  }
  .p-archive-visual .c-title--archive {
    font-size: 60px;
    font-size: 3.75rem;
  }
}
@media screen and (min-width: 960px) {
  .p-archive-visual {
    background-image: url(../../img/archive-visual-pc.jpg);
  }
}
.p-archive-visual::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.p-archive-visual__text {
  position: absolute;
  top: 106px;
  left: 37px;
}
@media screen and (min-width: 768px) {
  .p-archive-visual__text {
    top: 106px;
    left: 86px;
  }
}
@media screen and (min-width: 960px) {
  .p-archive-visual__text {
    top: 83px;
  }
}

.p-menu__text {
  line-height: 1.5;
  margin: 25px 0 19px 0;
}
@media screen and (min-width: 768px) {
  .p-menu__text {
    margin: 20px 0 37px 0;
  }
}
@media screen and (min-width: 960px) {
  .p-menu__text {
    margin: 20px 0 70px 0;
  }
}

.p-single-visual {
  background-image: url(../../img/single-visual-sp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 229px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .p-single-visual {
    background-image: url(../../img/single-visual-tablet.jpg);
    height: 508px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 960px) {
  .p-single-visual {
    background-image: url(../../img/single-visual-pc.jpg);
  }
}
.p-single-visual__text {
  padding: 93px 0 0 26px;
}
@media screen and (min-width: 768px) {
  .p-single-visual__text {
    font-size: 60px;
    font-size: 3.75rem;
    padding: 213px 0 0 86px;
  }
}

.p-blockquote {
  background-color: #F5F5F5;
}
.p-blockquote__text {
  width: 89%;
  margin: 0 auto;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .p-blockquote__text {
    width: 85%;
    padding-top: 50px;
  }
}
.p-blockquote__cite {
  width: 89%;
  text-align: center;
  padding-bottom: 27px;
}
@media screen and (min-width: 768px) {
  .p-blockquote__cite {
    width: 85%;
    margin: 0 auto;
    text-align: left;
    padding: 61px 0 57px 0;
  }
}
.p-blockquote__link {
  text-decoration: underline;
  color: #0000EE;
}

.p-content-block {
  margin: 30px 0;
}
@media screen and (min-width: 768px) {
  .p-content-block {
    margin: 60px 0;
  }
}

.p-content-block--01__img {
  width: 100%;
}

.p-content-block--02__img {
  width: 144px;
  height: 89px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .p-content-block--02__img {
    width: 306px;
    height: 189px;
  }
}
@media screen and (min-width: 960px) {
  .p-content-block--02__img {
    width: 581px;
    height: 358px;
  }
}

.p-content-block--03 {
  text-align: center;
}
.p-content-block--03 > img {
  width: 80%;
}
@media screen and (min-width: 768px) {
  .p-content-block--03 > img {
    width: 581px;
    height: 358px;
    margin-bottom: 181px;
  }
}
@media screen and (min-width: 960px) {
  .p-content-block--03 > img {
    margin-bottom: 0;
  }
}

.p-content-block--04 {
  text-align: center;
  width: 100%;
}
.p-content-block--04__img {
  margin-bottom: 20px;
}
.p-content-block--04__img:last-child {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .p-content-block--04__img {
    width: 49%;
  }
}
@media screen and (min-width: 960px) {
  .p-content-block--04__img {
    width: 32%;
    margin-bottom: 0;
  }
}

.p-content-block--menu__list {
  margin: 17px 0;
}
@media screen and (min-width: 768px) {
  .p-content-block--menu__list {
    margin: 3px 0 17px 50px;
  }
}
.p-content-block--menu__list--02 {
  margin-left: 18px;
}
@media screen and (min-width: 768px) {
  .p-content-block--menu__list--02 {
    margin-left: 68px;
  }
}

.p-content-block--html {
  background-color: #F5F5F5;
}
.p-content-block--html__code {
  display: inline-block;
  padding: 50px;
}

.p-content-block--table .c-table__left {
  width: 40%;
}
@media screen and (min-width: 768px) {
  .p-content-block--table .c-table__left {
    width: 30%;
  }
}

.p-content-block--button {
  margin-top: 60px;
}
.p-content-block--button__inner {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-content-block--button__inner {
    text-align: left;
  }
}
.p-content-block--button__inner > .c-button--single {
  width: 100%;
  height: 81px;
}
@media screen and (min-width: 768px) {
  .p-content-block--button__inner > .c-button--single {
    width: 60%;
    height: 104px;
  }
}
@media screen and (min-width: 960px) {
  .p-content-block--button__inner > .c-button--single {
    width: 32%;
  }
}
.p-content-block--button__text {
  font-weight: 700;
  margin: 31px 0 69px 0;
}
@media screen and (min-width: 768px) {
  .p-content-block--button__text {
    margin: 61px 0 149px 0;
  }
}
@media screen and (min-width: 960px) {
  .p-content-block--button__text {
    margin: 61px 0 274px 0;
  }
}

@media screen and (min-width: 768px) {
  .p-single-block > .c-inner {
    margin: 0 7%;
  }
}
@media screen and (min-width: 960px) {
  .p-single-block > .c-inner {
    margin: 0 6.4%;
  }
}

.p-single-section .c-heading--p {
  margin: 25px 0 36px 0;
}
@media screen and (min-width: 768px) {
  .p-single-section .c-heading--p {
    margin: 55px 0 62px 0;
  }
}
@media screen and (min-width: 960px) {
  .p-single-section .c-heading--p {
    margin: 57px 0 60px 0;
  }
}
.p-single-section .c-heading--h4 {
  margin: 28px 0 34px 0;
}
@media screen and (min-width: 768px) {
  .p-single-section .c-heading--h4 {
    margin: 56px 0 73px 0;
  }
}
@media screen and (min-width: 960px) {
  .p-single-section .c-heading--h4 {
    margin: 56px 0 57px 0;
  }
}
.p-single-section .c-heading--h6 {
  margin: 27px 0 26px 0;
}
@media screen and (min-width: 768px) {
  .p-single-section .c-heading--h6 {
    margin: 57px 0 56px 0;
  }
}

.p-page-visual {
  background-image: url(../../img/page-visual-sp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 229px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .p-page-visual {
    background-image: url(../../img/page-visual-tablet.jpg);
    height: 508px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 960px) {
  .p-page-visual {
    background-image: url(../../img/page-visual-pc.jpg);
  }
}
.p-page-visual__text {
  padding: 93px 0 0 26px;
}
@media screen and (min-width: 768px) {
  .p-page-visual__text {
    font-size: 60px;
    font-size: 3.75rem;
    padding: 213px 0 0 86px;
  }
}

/*-- projectフォルダの中の_index.scss --*/
.u-bold {
  font-weight: 700;
}

.u-brown {
  color: #3C2A10;
}

.u-reverse {
  flex-direction: row-reverse;
}

.u-margin-top57 {
  margin-top: 57px;
}

/*-- utilityフォルダの中の_index.scss --*/
/*# sourceMappingURL=style.css.map */