/*-- componentフォルダの中の_index.scss --*/
@use "c-button";
@use "c-title";
@use "c-input";
@use "c-heading";
@use "c-flex";
@use "c-cover";
@use "c-link";
@use "c-inner";
@use "c-table";
//新しくパーシャルを作れば、ここに追記していく