/*-- projectフォルダの中の_index.scss --*/
@use "p-card";
@use "p-hamburger";
@use "p-home-visual";
@use "p-pager";
@use "p-access";
@use "p-search";
@use "p-panel";
@use "p-sidebar";
@use "p-panel-container";
@use "p-archive-visual";
@use "p-menu";
@use "p-single-visual";
@use "p-single";
@use "p-page-visual";
@use "p-page";
//新しくパーシャルを作れば、ここに追記していく