@use "../../foundation/forward" as *;

.p-home-visual {
    position: relative; /* テキストをabsoluteするため */
    &__bg {
        background-image: url(../../img/main-visual-sp.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 285px;        
        @include tablet {
            background-image: url(../../img/main-visual-tablet.jpg);
            height: 285px;
        }
        @include pc {
            height: 530px;
        }  
    }
    &__text {
        position: absolute;
        top: 122px;
        left: 25px;
        @include tablet {
            left: 61px;
        }
        @include pc {
            top: 234px;
            left: 86px;
        }
    }
}