@use "../../foundation/forward" as *;

.p-pager {
    color: $gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 62px 0 30px 0;
    font-family: $en-heading-font;
    @include tablet {
        justify-content: center;
        margin: 106px 0 32px 0;
    }
    @include pc {
        margin: 150px 0 64px 0;
    }
    & .pages {
        display: none;
        @include tablet {
            display: inline-block;
            margin-right: 19px;
            font-weight: $bold;
            &::before {
                content: 'page';
                padding-right: 8px;
            }
        }
    }
    & .previouspostslink {
        padding-right: 7.5px;
        &::after {
            content: '前へ';
            padding-left: 8px;        
            @include tablet {
                display: none;
            }
        }
    }
    & .nextpostslink {
        padding-left: 7.5px;
        &::before {
            content: '次へ';
            padding-right: 8px;       
            @include tablet {
                display: none;
            }
        }
    }
    & .page, .current {
        visibility: hidden;
        font-weight: $bold;
        @include tablet {
            visibility: visible;
            display: inline-block;
            width: 35px;
            height: 35px;
            border: 1px solid $gray;
            background-color: $white;
            margin: 0 7.5px;
            text-align: center;
            line-height: 33px;
            &:hover,
            :active {
                color: $white;
                background-color: $dark-brown;
            }
        }
    }
}