@use "../../foundation/forward" as *;

.p-single-visual {
    background-image: url(../../img/single-visual-sp.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 229px;
    margin-bottom: 32px;
    @include tablet {
        background-image: url(../../img/single-visual-tablet.jpg);
        height: 508px;
        margin-bottom: 50px;
    }
    @include pc {
        background-image: url(../../img/single-visual-pc.jpg);
    }
    &__text {
        padding: 93px 0  0 26px;
        @include tablet {
            @include font-size(60);
            padding: 213px 0 0 86px;
        }
    }
}