@use "../foundation/forward" as *;

.l-footer {    
    background-color: $footer-color;
    color: $white;
    text-align: center;
    height: 150px;
    background-image: url(../../img/footer-layer.png);
    background-repeat: repeat;
    @include pc {
        grid-row: 3;
        grid-column: 1/3;
    }
    &__list {
        @include font-size(18);
        margin-top: 16px;
        @include tablet {
            margin-top: 30px;
        }
        @include pc {
            @include font-size(20);
            margin-top: 41px;
        }
    }
    &__copyright {
        @include font-size(14);
        margin-top: 70px;
        @include tablet {
            margin-top: 44px;
        }
    }
}