@use "../foundation/forward" as *;

.l-header {
    background-color: $header-color;
    height: 215px;
    @include tablet {
        height: 217px;
    }
    position: relative; /* 右上menuをabsolute指定するため*/
    @include pc {
        grid-row: 1;
        grid-column: 1/2;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        text-align: center;
        margin-top: 43px;
        @include pc {
            margin-left: 65px;
        }
         img {
            width: 203px;
            height: 47px;
            @include pc {
                width: 325px;
                height: 84px;
            }
         }
    }
}